
ul {
  display: block;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
li {
    margin: 10px 0;
  text-align: center;
}

img {
    display: block;              /* Makes margin auto work */
    margin: 20px auto;           /* Vertically spaced, horizontally centered */
    max-width: 100%;             /* Prevents overflow */
    width: 80%;                  /* Shrinks image to 80% of its container */
    height: auto;                /* Maintains aspect ratio */
    border: solid 3px black;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 5px;
    background-color: lightgrey;
}

h1{
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 80px;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: lightgrey;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;

}

